h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    margin: 0;
}
.header {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
    color: #926239;
}
.header__wrapper {
    text-align: center;
    padding-top: 300px;
}
.header__title {
    font-size: 80px;
    margin-bottom: 20px;
}
.header__text {
    font-size: 25px;
    margin-bottom: 20px;
}
.header__btn {
    background-color: transparent;
    border: 1px solid #926239;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    color: #926239;
}
.header__btn:hover {
    background-color: #926239;
    color: #fff;
}
.content {
    font-size: 0;
}
.content__text {
    padding: 20px;
    font-size: 16px;
}
.content__item {
    width: 100%;
    display: inline-block;
}
.content__item-1,
.content__item-2 {
    width: 100%;
    text-align: center;
}
.content__item-3,
.content__item-4,
.content__item-5 {
    width: 33.33%;
}
.content__item-1,
.content__item-3,
.content__item-5 {
    background: #926239;
    color: #fff;
}